.player-console {
    display: none;
  }
body{
    background-image:url("https://static.videezy.com/system/resources/thumbnails/000/018/021/small/halloween-purple-background-animation-with-pumpkin-and-bats-falling-down-and-hanging-on-strings.jpg");
    background-size:cover; 
    font-style: italic;
    color:rgb(207, 29, 59);
    text-align: center;
    https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-m46dV4ZMk8F99q52LZ1wZcrYJpE8iPMU4ZNVSW3MRgE6Jlof" 
}
h1{
font-style: italic; 
text-align: center;
font-size: 150px;
}

.form{
    font-style: italic;
    text-align: center;
    text-align: right;
    float: 10px;;

}
input[type=text]{
    border-style: solid;
    width: 50%;

}
/* label{
    margin-left: 20px;
    /* margin-top: 50px;
    width: 150px; */
/* } */

 #start{
     background-color: rgb(61, 34, 66);
 }
 h2{
     font-stretch: initial; 
 }
